/* start component  */

.main-hedding {
  text-align: center;
}

.main-hedding h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
}

.main-hedding h2::before {
  content: "";
  height: 2px;
  width: 120px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  bottom: -30px;
}

.main-hedding h2::after {
  content: "";
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  bottom: -35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-hedding p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

